{% extends "table_pages.html" %}
{% block title %}EmployeeCRUD{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-center" id="all_content">
        <!-- Place for table with employees -->
        <div class="p-2">
            <h5 class="card-title" id="form_title">Create a copy of the employee</h5>
            <form id="insert_form">
            <div class="form-group row">
                <label for="employee_name" class="col-4 col-form-label">Name</label>
                <div class="col-8">
                    <input id="employee_name" name="employee_name" placeholder="employee name" type="text" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="date_of_birth" class="col-4 col-form-label">Date of birth</label>
                <div class="col-8">
                    <input id="date_of_birth" name="date_of_birth" placeholder="format: 1999" type="date" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="salary" class="col-4 col-form-label">Salary</label>
                <div class="col-8">
                    <input id="salary" name="salary" type="number" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="department_name" class="col-4 col-form-label">Department name</label>
                <div class="col-8">
                    <input id="department_name" name="department_name" required="required" type="text" class="form-control">
                    <input id="employee_id" name="employee_id" hidden type="text" value="{{ employee_id }}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <button id="insert_btn" class="btn btn-outline-success" type="submit">Submit</button>

                </div>
            </div>
        </form>
            <button id="delete_button" class="btn btn-outline-danger">Delete employee</button>
            <button id="update_button" class="btn btn-outline-warning">Change employee info</button></div>
    </div>

{% endblock %}

{% block datatable_script %}
    <script type="text/javascript">
        let employee_id = "{{ employee_id }}"
        let employees_address = "{{ url_for('routes.employees') }}"
    </script>
    <script type="text/javascript" src="{{ url_for('routes.static', filename='employee.js') }}"></script>
{% endblock %}
